body {
  background: #989;
  font-family: arial;
  margin: 0;
}

header {
  background: #042;
  color: white;
  padding: 10px;
}

nav ul {
  margin:0;
  padding: 0;
}

nav li {
  align-content: center;
  display: inline-block;
  text-align: center;

  background: #996;

  width: 12vw;
  padding: 10px 2vw;
  border-radius: 5px;
  margin: 5px 1vw;
}

.row {
  margin: 10px 0px;
}

.column {
  margin: 1vw;
  padding: 2vw;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
  width: 26vw;
  max-height: 27vw;
}
